:root {
    --red: red;
}

.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: #d9d9d977;
}

.App-link {
    color: #61dafb;
}
/* .MuiContainer-maxWidthXl {
    padding: 0 !important;
} */
/* @media screen and (min-width: 1300px) {
    .MuiContainer-maxWidthXl {
        max-width: 1360px !important;
    }
}
@media screen and (max-width: 1300px) {
    .MuiContainer-maxWidthXl {
        max-width: 1108px !important;
    }
} */

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
